:root {
  --primary: #6366f1;
  --secondary: #ec4899;
  --background: #f8fafc;
  --text: #1e293b;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  background-color: var(--background);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

.member-theme {
  --ion-color-primary: var(--primary);
}

* {
  box-sizing: border-box;
}
